@model LogbookModel

<h1>Add to Logbook</h1>

<form style="max-width: 300px;" method="post" asp-action="SubmitEntry">
    <br>
    <div class="form-group">
        <label for="pilot">Pilot</label>
        <input type="text" class="form-control" id="pilot" name="pilot" required>
    </div>
    <br>
    <div class="form-group">
        <label for="copilot">Copilot</label>
        <input type="text" class="form-control" id="copilot" name="copilot" required>
    </div>
    <br>
    <div class="form-group">
        <label for="fa_1">Flight Attendant 1</label>
        <input type="text" class="form-control" id="fa_1" name="fa_1" required>
    </div>
    <br>
    <div class="form-group">
        <label for="fa_2">Flight Attendant 2</label>
        <input type="text" class="form-control" id="fa_2" name="fa_2" required>
    </div>
    <br>
    <div class="form-group">
        <label for="departure">Departure</label>
        <input type="text" class="form-control" id="departure" name="departure" required>
    </div>
    <br>
    <div class="form-group">
        <label for="arrival">Arrival</label>
        <input type="text" class="form-control" id="arrival" name="arrival" required>
    </div>
    <br>
    <div class="form-group">
        <label for="pay">Pay</label>
        <input type="text" class="form-control" id="pay" name="pay" required>
    </div>
    <br>
    <div class="form-group">
        <label for="hours">Flight Hours</label>
        <input type="text" class="form-control" id="hours" name="hours" required>
    </div>
    <br>
    <div class="form-group">
        <label for="minutes">Flight Minutes</label>
        <input type="text" class="form-control" id="minutes" name="minutes" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
