@model EmployeeModel
@{
    ViewData["Title"] = "Delete";
}
<h1>@ViewData["Title"]</h1>

<form style="max-width: 300px;" method="post">
    <div class="form-group">
        <label for="id">Name</label>
        <input type="text" class="form-control" id="id" name="id" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>