@model IEnumerable<FlightModel>
@{
    ViewData["Title"] = "Flights";
}
<h1 class="display-3 text-center" style="margin-bottom: 32px;">@ViewData["Title"]</h1>
@if (!User.Identity.IsAuthenticated)
{
    <h3>Please log in to book flights</h3>
}
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
@foreach (var flight in Model)
{
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h2 class="lh-1 text-body-emphasis">@flight.departure - @flight.arrival</h2>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-3">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Add flight to cart</button>
                    }
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0">
                <p class="lead fs-3">Flight number: @flight.number</p>
                <p class="lead fs-3">Price: $@flight.cost</p>
            </div>
        </div>
    </div>
}
