<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2 class="text-danger">An error occurred</h2>
    <img src="~/Images/7hqrb129.png" alt="Pomni" height="200">
    <p>@ViewData["ErrorMessage"]</p>
</body>
</html>

